# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_NRF92X

config HAS_IRONSIDE_SE
	default y

endif

if SOC_NRF9280_CPUPPR

config HAS_NORDIC_VPR_LAUNCHER_IMAGE
	default y

endif
